[Desktop Entry]
Name=IDA Professional
Comment=The Interactive Disassembler
Exec=/usr/bin/ida
Icon=ida-pro
Terminal=false
Type=Application
Categories=Development
