[Desktop Entry]
Name=IDA Professional
Comment=The Interactive Disassembler
Exec=env LD_LIBRARY_PATH=/opt/ida-pro LD_PRELOAD=/opt/ida-pro/ida_lang_hook.so /opt/ida-pro/ida
Icon=ida-pro
Terminal=false
Type=Application
Categories=Development